.builds-container {
    padding: 1rem;
}


.build-list-container {
    width: 100%;
    align-items: flex-start;
}


.build-content {
    background: white;
    list-style-type: none;
    position: relative;
    display: inline-block;
    max-width: 30%;
    margin: 2.5rem auto;

    .expandable-content {
        max-height: 660px;
        overflow: hidden;
        transition: max-height 0.4s ease;

        &.expanded {
            max-height: 2000px;
        }
    }

    &.expanded {
        max-height: initial;
    }

    .collapse-switcher-container {

        button {
            background: #de0000;
            color: #fff;
            position: absolute;
            width: 50px;
            height: 50px;
            font-size: 33px;
            font-weight: bold;
            border-radius: 25px;
            border: none;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
        }
    }


    .image-container {
        img {
            width: 100%;
        }
    }


    .invoice-container {
        position: absolute;
        background: rgba(255,0,0, 0.9);
        left: -20px;
        top: 12px;
        width: auto;
        padding: 0.5rem 1.5rem;

        &:after {
            content: " ";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 0 0 20px;
            border-color: #de0000 transparent transparent transparent;
            position: absolute;
            left: 0px;
            bottom: -20px;
            
        }
        
        .invoice-text {
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
        }

    }



    .car-detail-container {
        margin-top: 3rem;

        display: flex;
        justify-content: space-around;

        .detail {
            color: white;
            padding: 1rem 1.5rem;
            background: red;
            font-weight: bold;
            font-size: 1rem;
        }

        .other-details {
            padding-left: 0;
        }
    }


    .options-container {
        margin-bottom: 3rem;

        .option-list {
            padding-left: 0;

            .option-text {
                width: 100%;
            }
        }
    }
}




.o-detail,
.option-text {
    list-style-type: none;
    border-bottom: 2px solid black;
    display: table;
    padding: 1rem 0;

    .field-name,
    .field-text {
        display: table-cell;
        width: 50%;
    }

    .field-name {
        font-weight: bold;
    }

}